# Python temporary files
__pycache__/
*.pyc

# Training logs (avoid uploading large log files)
training_log/

# System files (if on Mac)
.DS_Store

# Environment variables (if there's an .env file, it must be ignored to prevent password leaks)
.env

# PostgreSQL data directory (avoid uploading large amounts of data)
pg_data_*/

# SSH keys (if you have any private keys in the repository, they should be ignored)
keys/

# Directory for merged configuration test logs
merge_test_log/ 