version: '3.8'

services:
  pgrl-q1:
    build: .
    container_name: pgrl-trainer-q1
    shm_size: 4gb
    
    volumes:
      # 掛載 Log
      - ./training_log:/app/training_log
      # Q1 專屬資料庫資料夾
      - ./pg_data_q1:/var/lib/postgresql/data
    
    environment:
      PGDATA: /var/lib/postgresql/data

    # 針對 Q1 訓練
    command: >
      python src/test_ppo.py 
      --queries "Q1" 
      --dsn "dbname=tpch10 user=wettin password=Qwer1234! host=localhost port=5432" 
      --remote-conf "/var/lib/postgresql/data/auto_tuning.conf"
      --total-p1 2048
      --total-p2 2048
      --total-p3 2048

  pgrl-q2:
    build: .
    container_name: pgrl-trainer-q2
    shm_size: 4gb
    
    volumes:
      # 掛載 Log
      - ./training_log:/app/training_log
      # Q2 專屬資料庫資料夾 (與 Q1 分開)
      - ./pg_data_q2:/var/lib/postgresql/data
    
    environment:
      PGDATA: /var/lib/postgresql/data

    # 針對 Q2 訓練
    command: >
      python src/test_ppo.py 
      --queries "Q2" 
      --dsn "dbname=tpch10 user=wettin password=Qwer1234! host=localhost port=5432" 
      --remote-conf "/var/lib/postgresql/data/auto_tuning.conf"
      --total-p1 2048
      --total-p2 2048
      --total-p3 2048